/* @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
}

.teamhome{
    padding: 20px 0;
    background: url("./panoramic-view-sunset-night.jpg") no-repeat center center/cover;
}

.teamhome h1{
        font-style: normal;
        font-weight: 100;
        font-size: 4rem;
        text-align: center;
        letter-spacing: .3rem;
        padding:36px;
        color: #fff;
}

.h1-span{
    color: #5A91E2;
}

.team-container{
    width: 100%;
    overflow: hidden;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.box{
    width: 14rem ;
    background-color:#D9D9D9;
    border-radius: 200px;
    height: 14rem ;
    padding: 20px;
    margin: 20px;
    text-align: center;
    letter-spacing: .09rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: 1s;
}

.memberPost{
    position: absolute;
    background-color: white;
    color: black;
    left:0px;
    padding: 10px 0px;
    top:125px;
    width:100%;
    transform: translate(80%,80%)rotate(90deg);
}

.memberPost h3{
    padding: 0px;
    margin: 0px;
    font-size: 0.75rem;
}

.box:hover .memberPost{
    transform: translate(0,0)rotate(0deg);
    transition: 1s;
    z-index: 1;
}

.box:hover .imagecontain img{
    transition: 1s ;
    z-index: -3;
}

.imagecontain img{
    border-radius: 200px;
    object-fit: cover;
    width: 100%;
}

.box h3{
    font-size:0.75rem;
    font-weight: 100;
 
}

.box p{
    font-size: 10px;
    opacity: 60%;
    color:black;
    margin:8px 2px
}

.box::before{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.box::after{
    width: 100%;
    height: 100%;
    background-color: #5A91E2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(15% at 90% 10%);
    transition: 1s;
}

.box:nth-child(){
    background-color: #5A91E2;
}

.box:hover::after{
    clip-path: circle(100%);
} 



/* @media screen and (max-width: 1380px) {
    .box{
        width: 13rem ;
        border-radius: 200px;
        height: 13rem ;
    }
    .box h3{
        font-size:0.6rem;
        font-weight: 100;
     
    }

    .box p{
        font-size: 0.5rem;
    }

  }
@media screen and (max-width: 1300px) {
    .box{
        width: 11rem ;
        border-radius: 200px;
        height: 11rem ;
    }
    .box h3{
        font-size:0.5rem;
        font-weight: 100;
     
    }

    .box p{
        font-size: 0.4rem;
    }
    .memberPost{
        top:100px;
    }
  }
@media screen and (max-width: 1150px) {
    .box{
        width: 10rem ;
        border-radius: 200px;
        height: 10rem ;
    }
    .box h3{
        font-size:0.45rem;
        font-weight: 100;
     
    }

    .box p{
        font-size: 0.35rem;
    }
    .memberPost{
        top:90px;
    }
  }
@media screen and (max-width: 1050px) {
    .box{
        width: 9rem ;
        border-radius: 200px;
        height: 9rem ;
    }
    .box h3{
        font-size:0.4rem;
        font-weight: 100;
     
    }

    .box p{
        font-size: 0.3rem;
    }
    .memberPost{
        top:80px;
    }
  }
@media screen and (max-width: 850px) {
    .box{
        width: 6.5rem ;
        border-radius: 200px;
        height: 6.5rem ;
    }
    .box h3{
        font-size:0.25rem;
        font-weight: 100;
     
    }

    .box p{
        font-size: 0.12rem;
    }
    .memberPost{
        top:60px;
    }
  } */





  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    text-transform: capitalize;
}

.teamhome {
    padding: 20px 0;
    background: url("../Assets/panoramic-view-sunset-night.jpg") no-repeat center center/cover;
}


.teamhome h1 {
    font-weight: 100;
    font-size: 4rem;
    text-align: center;
    letter-spacing: .3rem;
    color: #fff;
    padding-bottom: 15px;
}


.team-container {
    width: 100%;
    overflow: hidden;
}

.card-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    column-gap: 20px;
    /* padding: 0px 100px; */
}



.box{
    width: 14rem ;
    background-color:#D9D9D9;
    border-radius: 200px;
    height: 14rem ;
    padding: 20px;
    margin: 20px;
    text-align: center;
    letter-spacing: .09rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    transition: 1s;
}


.memberPost{
    position: absolute;
    background-color: #D9D9D9;
    color: black;
    padding: 10px 0px;
    left: 0;
    top:125px;
    width:100%;
    transform: translate(80%,80%)rotate(90deg);
}


.memberPost h3{
    padding: 0px;
    margin: 0px;
    font-size: 0.75rem;
}


.box:hover .memberPost {
    transform: translate(0, 0)rotate(0deg);
    transition: 1s;
    z-index: 1;
}

.box:hover .imagecontain img {
    transition: 1s;
    z-index: -3;
}


.imagecontain img {
    border-radius: 200px;
    object-fit: cover;
    width: 100%;
}


.box h3 {
    font-size: 0.75rem;
    font-weight: 100;

}

.box p {
    font-size: 10px;
    opacity: 60%;
    color: black;
    margin: 8px 2px
}

.box::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.box::after {
    width: 100%;
    height: 100%;
    background-color: #5A91E2;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    clip-path: circle(15% at 90% 10%);
    transition: 1s;
}

button:hover {
    scale: 1.1;
    transition: 0.5s;
}

.box button {
    background-color: #D9D9D9;
    font-size: 17px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    padding: 10px;
    color: black;
}

.box button:hover {
    letter-spacing: 2px;
    opacity: 0.8;
}



/* .box .count {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
} */

.box:nth-child() {
    background-color: #5A91E2;
}

.box:hover::after {
    clip-path: circle(100%);
}

.h1-span {
    color: #5A91E2;
}

#teamContainer {
    padding: 0px 40px;
}


.card-container {
    height: 260px;
    overflow: hidden;
    padding: 0px 20px !important;
}

/* .boxView {
    animation: changing 15s infinite;
} */


.btnContainer {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.teambutton {
    border-radius: 10px;
    font-weight:300;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    text-align: center;
    /* letter-spacing: -0.03em; */
    background-image: initial;
    background-color: #5A91E2;
    color: #D9D9D9;
}


.teamBtnContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 10px;
}



@keyframes changing {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -470%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }

}